.metals/metals.lock.db
.metals/metals.log
.vscode/settings.json
.metals/.reports/metals-full/2026-02-05/r_empty-definition_15-33-26-795.md
.metals/.reports/metals-full/2026-02-05/r_empty-definition_21-03-57-271.md
.metals/.reports/metals-full/2026-02-05/r_empty-definition_21-03-57-288.md
.metals/.reports/metals-full/2026-02-05/r_empty-definition_21-03-57-266.md
.metals/metals.mv.db
